.categories__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .categories__list:not(:last-child):after {
  margin-right: 100px;
} */

.categories__item {
  margin-right: 10px;
  cursor: pointer;
  padding: 5px;
  transition: 0.3s;
  border-radius: 10px;
  line-height: 2.7;
}

.categories__item:hover {
  color: white;
  border: none;
  background-color: #1b5bf7;
  cursor: pointer;
}
